<div>
    <%= @user.email %>
    <div class="flex flex-col items-center space-y-4 px-2" id="feed-posts" phx-update="<%= @update_action %>">
        <%= for post <- @posts do %>
            <%= live_component @socket, PostComponent,
                id: post.id,
                post: post,
                current_user: @current_user
            %>
        <% end %>
    </div>
</div>