<p class="bg-green-700" role="alert"><%= live_flash(@flash, :notice) %></p>
<p class="bg-red-700" role="alert"><%= live_flash(@flash, :error) %></p>
<div x-toast>Wow you look really great</div>
<%= @inner_content %>