<p id="global-live-flash-notice" phx-hook="Toaster" class="bg-green-700" role="alert"><%= live_flash(@flash, :notice) %></p>
<p id="global-live-flash-error" phx-hook="Toaster" class="bg-red-700" role="alert"><%= live_flash(@flash, :error) %></p>
<%= @inner_content %>
